.screen {
    display: block;
    background-color: rgb(116, 116, 116);
    margin: 1%;
    border-radius: 20px;
    display: flex;
}

.leftside {
    width: 72.28%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.leftside .innerleftside {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.rightside {
    
}

#img {
    width: 345px;
    height: 520px;
    border-radius: 0px 20px 20px 0px;
}

#opening {
    font-size: 1.3rem;
    font-style: italic;
}

.innerleftside h1 {
    font-size: 3rem;
    color: whitesmoke;
}

.innerleftside p {
    font-size: 1.2rem;
}