.screen {
    display: block;
    background-image: linear-gradient(to right, rgb(70, 70, 70) , rgb(0, 0, 0));
    margin: 1%;
    border-radius: 20px;
    display: flex;
}

.leftsideperson {
    width: 100%;
}

.innerleftsideperson {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 40px;
}

#personimg {
    width: 390px;
    height: 520px;
    border-radius: 0px 20px 20px 0px;
}

.innerleftsideperson h1 {
    font-size: 2.5rem;
    color: whitesmoke;
}

.innerleftsideperson p {
    font-size: 1rem;
}

