.screen {
    display: block;
    background-image: linear-gradient(to right, rgb(70, 70, 70) , rgb(0, 0, 0));
    margin: 1%;
    border-radius: 20px;
    display: flex;
}

.leftsidevehicle {
    width: 100%;
}

.innerleftsidevehicle {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 40px;
}

#vehicleimg {
    width: 580px;
    height: 580px;
    border-radius: 0px 20px 20px 0px;
}

.innerleftsidevehicle h1 {
    font-size: 2.5rem;
    color: whitesmoke;
}

.innerleftsidevehicle p {
    font-size: 0.84rem;
}